.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: ivory;
  text-shadow: 4px 4px #444;
  margin-bottom: 50px;
  padding-left: 3%;
  padding-right: 3%;
  /* font-family: "Baloo Tammudu", cursive; */
  font-family: "Titan One", cursive;
}
