.wrapper {
  background: rgb(175, 175, 175);
  background-image: url("https://pre00.deviantart.net/c2f7/th/pre/i/2015/147/9/6/the_simpsons_living_room_by_fullmetal870-d84j7cl.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 70px;
}
