nav {
  width: 100%;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(56, 56, 56);
  height: auto;
  /* font-family: "Bungee", cursive; */
  /* font-family: "Bevan", cursive; */
  /* font-family: "Titan One", cursive; */
  /* font-family: "Bowlby One", cursive; */
  /* font-family: "Baloo Tammudu", cursive; */
  /* font-family: "Jua", sans-serif; */
}

a {
  color: #fed420;
}

a:hover {
  color: #fed420;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
  /* text-align: center; */
}

ul {
  /* padding-left: 0px; */
  display: flex;
  align-items: center;
}

#rw {
  margin-left: 20px;
  color: red;
  text-shadow: 2px 2px white;
}

#cur-sco,
#top-sco {
  text-align: right;
}

#cur-sco {
  margin-right: 20px;
}

#top-sco {
  margin-right: 45px;
}

@media only screen and (max-width: 750px) {
  #cur-sco,
  #top-sco {
    font-size: 2rem;
  }
}
