nav {
  width: 100%;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(56, 56, 56);
  height: auto;
}

a {
  color: #fed420;
}

a:hover {
  color: #fed420;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 20px;
  width: 25%;
}

ul {
  display: flex;
  align-items: center;
}

/* notification */
#message {
  margin-left: 20px;
  font-size: 28px;
  color: red;
  text-shadow: 2px 2px white;
  font-family: "Bungee", cursive;
}

/* scores */
#cur-sco,
#top-sco {
  text-align: right;
  font-family: "Bungee", cursive;
}

#cur-sco {
  margin-right: 20px;
}

#top-sco {
  margin-right: 45px;
}

/* responsiveness */
@media only screen and (max-width: 750px) {
  #cur-sco,
  #top-sco {
    font-size: 2rem;
  }
}
